In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:95% !important; }</style>"))

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [3]:
pd.options.display.max_columns = 999
pd.options.display.max_rows = 999

In [4]:
os.getcwd()

'C:\\Users\\Paul\\sb\\Untitled Folder'

In [5]:
filenames = os.listdir('.\\raw_data')
filenames

['nba_betting_money_line.csv',
 'nba_betting_spread.csv',
 'nba_betting_totals.csv',
 'nba_games_all.csv',
 'nba_players_all.csv',
 'nba_players_game_stats.csv',
 'nba_teams_all.csv']

In [6]:
dataframes = [pd.read_csv('.\\raw_data\\' + f) for f in filenames]
dataframes

[         game_id        book_name  book_id     team_id   a_team_id  price1  \
 0       41100314  Pinnacle Sports      238  1610612759  1610612760   165.0
 1       41100314           5Dimes       19  1610612759  1610612760   165.0
 2       41100314        Bookmaker       93  1610612759  1610612760   160.0
 3       41100314        BetOnline     1096  1610612759  1610612760   165.0
 4       41100314           Bovada   999996  1610612759  1610612760   155.0
 ...          ...              ...      ...         ...         ...     ...
 125281  41700215         Heritage      169  1610612755  1610612738   105.0
 125282  41700215        Intertops      180  1610612755  1610612738   100.0
 125283  41700215         YouWager      139  1610612755  1610612738   105.0
 125284  41700215          JustBet     1275  1610612755  1610612738   100.0
 125285  41700215    Sportsbetting   999991  1610612755  1610612738   105.0

         price2
 0       -183.0
 1       -175.0
 2       -190.0
 3       -190.0
 4       -175.0
 ...        ...
 125281  -125.0
 125282  -120.0
 125283  -125.0
 125284  -120.0
 125285  -125.0

 [125286 rows x 7 columns],
          game_id        book_name  book_id     team_id   a_team_id  spread1  \
 0       21000358  Pinnacle Sports      238  1610612749  1610612742      7.5
 1       21000358           5Dimes       19  1610612749  1610612742      7.5
 2       21000358        Bookmaker       93  1610612749  1610612742      7.5
 3       21000358        BetOnline     1096  1610612749  1610612742      7.5
 4       21000358           Bovada   999996  1610612749  1610612742      8.0
 ...          ...              ...      ...         ...         ...      ...
 131685  21501153        BetOnline     1096  1610612738  1610612747     -9.0
 131686  21501153           Bovada   999996  1610612738  1610612747     -9.5
 131687  21501153         Heritage      169  1610612738  1610612747     -9.5
 131688  21501153        Intertops      180  1610612738  1610612747     -9.5
 131689  21501153         YouWager      139  1610612738  1610612747     -9.0

         spread2  price1  price2
 0          -7.5  -106.0  -104.0
 1          -7.5  -110.0  -110.0
 2          -7.5  -110.0  -110.0
 3          -7.5  -110.0  -110.0
 4          -8.0  -115.0  -105.0
 ...         ...     ...     ...
 131685      9.0  -110.0  -110.0
 131686      9.5  -110.0  -110.0
 131687      9.5  -105.0  -105.0
 131688      9.5  -110.0  -110.0
 131689      9.0  -110.0  -110.0

 [131690 rows x 9 columns],
          game_id        book_name  book_id     team_id   a_team_id  total1  \
 0       21100131  Pinnacle Sports      238  1610612740  1610612743   192.0
 1       21100131           5Dimes       19  1610612740  1610612743   192.0
 2       21100131        Bookmaker       93  1610612740  1610612743   192.0
 3       21100131        BetOnline     1096  1610612740  1610612743   191.5
 4       21100131           Bovada   999996  1610612740  1610612743   192.0
 ...          ...              ...      ...         ...         ...     ...
 131381  41700215         Heritage      169  1610612755  1610612738   204.5
 131382  41700215        Intertops      180  1610612755  1610612738   205.0
 131383  41700215         YouWager      139  1610612755  1610612738   204.5
 131384  41700215          JustBet     1275  1610612755  1610612738   204.0
 131385  41700215    Sportsbetting   999991  1610612755  1610612738   204.5

         total2  price1  price2
 0        192.0  -105.0  -105.0
 1        192.0  -105.0  -105.0
 2        192.0  -110.0  -110.0
 3        191.5  -110.0  -110.0
 4        192.0  -110.0  -110.0
 ...        ...     ...     ...
 131381   204.5  -105.0  -105.0
 131382   205.0  -110.0  -110.0
 131383   204.5  -110.0  -110.0
 131384   204.0  -110.0  -110.0
 131385   204.5  -110.0  -110.0

 [131386 rows x 9 columns],
          game_id   game_date      matchup     team_id is_home wl     w     l  \
 0       20800741  2009-02-06  SAC vs. UTA  1610612762       f  W  29.0  22.0
 1       20800701  2009-01-31  POR vs. UTA  1610612762       f  L  26.0  22.0
 2       20800584  2009-01-16  MEM vs. UTA  1610612762       f  W  24.0  16.0
 3       20800558  2009-01-12    IND @ UTA  1610612762       t  W  23.0  15.0
 4       20800440  2008-12-27  HOU vs. UTA  1610612762       f  L  18.0  14.0
 ...          ...         ...          ...         ...     ... ..   ...   ...
 125619  20801131  2009-04-03    MIN @ UTA  1610612762       t  L  46.0  30.0
 125620  20801058  2009-03-24    HOU @ UTA  1610612762       t  W  44.0  26.0
 125621  20801029  2009-03-20  OKC vs. UTA  1610612762       f  W  43.0  26.0
 125622  20800839  2009-02-23    ATL @ UTA  1610612762       t  W  34.0  23.0
 125623  20800810  2009-02-19    BOS @ UTA  1610612762       t  W  32.0  23.0

         w_pct  min   fgm    fga  fg_pct  fg3m  fg3a  fg3_pct   ftm   fta  \
 0       0.569  240  39.0   74.0   0.527   4.0  13.0    0.308  29.0  37.0
 1       0.542  240  37.0   68.0   0.544   5.0  20.0    0.250  29.0  37.0
 2       0.600  240  37.0   71.0   0.521   7.0  19.0    0.368  20.0  27.0
 3       0.605  240  39.0   85.0   0.459   8.0  18.0    0.444  34.0  37.0
 4       0.563  290  49.0  100.0   0.490   5.0  13.0    0.385  12.0  18.0
 ...       ...  ...   ...    ...     ...   ...   ...      ...   ...   ...
 125619  0.605  240  36.0   75.0   0.480   5.0  11.0    0.455  25.0  29.0
 125620  0.629  240  38.0   85.0   0.447   4.0  14.0    0.286  19.0  25.0
 125621  0.623  240  41.0   84.0   0.488   1.0   7.0    0.143  18.0  26.0
 125622  0.596  240  44.0   88.0   0.500   6.0  13.0    0.462  14.0  17.0
 125623  0.582  240  32.0   77.0   0.416   2.0  10.0    0.200  24.0  31.0

         ft_pct  oreb  dreb  reb   ast   stl   blk   tov    pf  pts  \
 0          1.0   8.0  36.0   44  19.0   5.0   4.0  18.0  26.0  111
 1          1.0   7.0  20.0   27  17.0   6.0   0.0  15.0  22.0  108
 2          1.0   7.0  26.0   33  23.0   9.0   3.0  15.0  22.0  101
 3          1.0   9.0  31.0   40  24.0  10.0   6.0   8.0  20.0  120
 4          1.0  11.0  29.0   40  35.0  13.0   7.0   9.0  27.0  115
 ...        ...   ...   ...  ...   ...   ...   ...   ...   ...  ...
 125619     1.0   4.0  24.0   28  22.0  11.0   4.0  10.0  16.0  102
 125620     1.0   3.0  39.0   42  23.0   6.0  12.0   8.0  17.0   99
 125621     1.0  11.0  30.0   41  24.0   8.0   3.0  10.0  13.0  101
 125622     1.0  14.0  29.0   43  30.0  11.0   6.0  15.0  19.0  108
 125623     1.0   7.0  28.0   35  16.0   7.0   6.0  11.0  18.0   90

          a_team_id  season_year     season_type   season
 0       1610612758         2008  Regular Season  2008-09
 1       1610612757         2008  Regular Season  2008-09
 2       1610612763         2008  Regular Season  2008-09
 3       1610612754         2008  Regular Season  2008-09
 4       1610612745         2008  Regular Season  2008-09
 ...            ...          ...             ...      ...
 125619  1610612750         2008  Regular Season  2008-09
 125620  1610612745         2008  Regular Season  2008-09
 125621  1610612760         2008  Regular Season  2008-09
 125622  1610612737         2008  Regular Season  2008-09
 125623  1610612738         2008  Regular Season  2008-09

 [125624 rows x 32 columns],
       person_id display_last_comma_first   display_first_last rosterstatus  \
 0         76001          Abdelnaby, Alaa       Alaa Abdelnaby            f
 1         76002         Abdul-Aziz, Zaid      Zaid Abdul-Aziz            f
 2         76003     Abdul-Jabbar, Kareem  Kareem Abdul-Jabbar            f
 3            51      Abdul-Rauf, Mahmoud   Mahmoud Abdul-Rauf            f
 4          1505       Abdul-Wahad, Tariq    Tariq Abdul-Wahad            f
 ...         ...                      ...                  ...          ...
 4880        953         Wright, Lorenzen      Lorenzen Wright            f
 4881       1007           Wright, Luther        Luther Wright            f
 4882        412          Wright, Sharone       Sharone Wright            f
 4883     203100             Wroten, Tony          Tony Wroten            f
 4884      78627             Wynder, A.J.          A.J. Wynder            f

       from_year  to_year                   playercode games_played_flag  \
 0        1990.0   1994.0       HISTADD_alaa_abdelnaby                 Y
 1        1968.0   1977.0      HISTADD_zaid_abdul-aziz                 Y
 2        1969.0   1988.0  HISTADD_kareem_abdul-jabbar                 Y
 3        1990.0   2000.0           mahmoud_abdul-rauf                 Y
 4        1997.0   2003.0            tariq_abdul-wahad                 Y
 ...         ...      ...                          ...               ...
 4880     1996.0   2008.0              lorenzen_wright                 Y
 4881     1993.0   1993.0                luther_wright                 Y
 4882     1994.0   1997.0               sharone_wright                 Y
 4883     2012.0   2015.0                  tony_wroten                 Y
 4884     1990.0   1990.0            HISTADD_aj_wynder                 Y

             position  draft_year  draft_round  draft_num  birth_date  \
 0            Forward      1990.0          1.0        NaN         NaN
 1             Center      1968.0          1.0        NaN         NaN
 2             Center      1969.0          1.0        NaN         NaN
 3              Guard      1990.0          1.0        NaN         NaN
 4      Forward-Guard      1997.0          1.0        NaN         NaN
 ...              ...         ...          ...        ...         ...
 4880  Forward-Center      1996.0          1.0        NaN         NaN
 4881          Center      1993.0          1.0        NaN         NaN
 4882             NaN      1994.0          1.0        NaN         NaN
 4883           Guard      2012.0          1.0        NaN         NaN
 4884           Guard         NaN          NaN        NaN         NaN

       height_feet  height_inches    height  weight  season_exp jersey  \
 0             6.0           10.0  6.833333   240.0           4     30
 1             6.0            9.0  6.750000   235.0           9     54
 2             7.0            2.0  7.166667   225.0          19     33
 3             6.0            1.0  6.083333   162.0           8      1
 4             6.0            6.0  6.500000   235.0           6      9
 ...           ...            ...       ...     ...         ...    ...
 4880          6.0           11.0  6.916667   255.0          13     55
 4881          7.0            2.0  7.166667   270.0           0     44
 4882          NaN            NaN       NaN     NaN           3    NaN
 4883          6.0            6.0  6.500000   205.0           4      5
 4884          6.0            2.0  6.166667   180.0           0     12

                school country       last_affiliation
 0                Duke     USA               Duke/USA
 1          Iowa State     USA         Iowa State/USA
 2                UCLA     USA               UCLA/USA
 3     Louisiana State     USA    Louisiana State/USA
 4      San Jose State  France  San Jose State/France
 ...               ...     ...                    ...
 4880          Memphis     USA            Memphis/USA
 4881       Seton Hall     USA         Seton Hall/USA
 4882          Clemson     USA            Clemson/USA
 4883       Washington     USA         Washington/USA
 4884        Fairfield     USA                  -/USA

 [4885 rows x 22 columns],
          season_id  player_id             player_name     team_id  \
 0            21950      77036  Bear, The Body Hoffman  1610610024
 1            21950      78447            Paul Walther  1610610030
 2            21950      77675              Ken Murray  1610610024
 3            21950      77347               Bob Lavoy  1610610030
 4            21950      77132           Arnie Johnson  1610612758
 ...            ...        ...                     ...         ...
 1268206      32017     202331             Paul George  1610616833
 1268207      32017     203078            Bradley Beal  1610616833
 1268208      32017     201942           DeMar DeRozan  1610616834
 1268209      32017     201143              Al Horford  1610616834
 1268210      32017     203081          Damian Lillard  1610616834

         team_abbreviation               team_name   game_id   game_date  \
 0                     BAL       Baltimore Bullets  25000009  1950-11-04
 1                     INO  Indianapolis Olympians  25000009  1950-11-04
 2                     BAL       Baltimore Bullets  25000009  1950-11-04
 3                     INO  Indianapolis Olympians  25000009  1950-11-04
 4                     ROC        Rochester Royals  25000012  1950-11-04
 ...                   ...                     ...       ...         ...
 1268206               LBN             Team LeBron  31700001  2018-02-18
 1268207               LBN             Team LeBron  31700001  2018-02-18
 1268208               STP            Team Stephen  31700001  2018-02-18
 1268209               STP            Team Stephen  31700001  2018-02-18
 1268210               STP            Team Stephen  31700001  2018-02-18

              matchup wl  min  fgm   fga  fg_pct  fg3m  fg3a  fg3_pct  ftm  \
 0        BAL vs. INO  W    0    3   NaN     NaN   NaN   NaN      NaN  5.0
 1          INO @ BAL  L    0    4   NaN     NaN   NaN   NaN      NaN  2.0
 2        BAL vs. INO  W    0    3   NaN     NaN   NaN   NaN      NaN  2.0
 3          INO @ BAL  L    0    4   NaN     NaN   NaN   NaN      NaN  1.0
 4        ROC vs. FTW  W    0    5   NaN     NaN   NaN   NaN      NaN  1.0
 ...              ... ..  ...  ...   ...     ...   ...   ...      ...  ...
 1268206    LBN @ STP  W   27    6  15.0   0.400   4.0  10.0    0.400  0.0
 1268207    LBN @ STP  W   17    5  10.0   0.500   4.0   8.0    0.500  0.0
 1268208  STP vs. LBN  L   27    7  13.0   0.538   1.0   3.0    0.333  6.0
 1268209  STP vs. LBN  L   13    2   4.0   0.500   0.0   2.0    0.000  2.0
 1268210  STP vs. LBN  L   21    9  14.0   0.643   3.0   8.0    0.375  0.0

          fta  ft_pct  oreb  dreb  reb  ast  stl  blk  tov   pf  pts  \
 0        6.0   0.833   NaN   NaN  NaN  NaN  NaN  NaN  NaN  NaN   11
 1        6.0   0.333   NaN   NaN  NaN  NaN  NaN  NaN  NaN  NaN   10
 2        2.0   1.000   NaN   NaN  NaN  NaN  NaN  NaN  NaN  NaN    8
 3        1.0   1.000   NaN   NaN  NaN  NaN  NaN  NaN  NaN  NaN    9
 4        1.0   1.000   NaN   NaN  NaN  NaN  NaN  NaN  NaN  NaN   11
 ...      ...     ...   ...   ...  ...  ...  ...  ...  ...  ...  ...
 1268206  0.0     NaN   1.0   4.0  5.0  4.0  1.0  0.0  0.0  2.0   16
 1268207  0.0     NaN   0.0   0.0  0.0  0.0  1.0  0.0  1.0  1.0   14
 1268208  7.0   0.857   2.0   4.0  6.0  2.0  2.0  0.0  2.0  1.0   21
 1268209  2.0   1.000   0.0   5.0  5.0  2.0  1.0  0.0  0.0  0.0    6
 1268210  0.0     NaN   2.0   1.0  3.0  2.0  0.0  0.0  1.0  0.0   21

          plus_minus     season_type  season_year   season
 0               NaN  Regular Season         1950  1950-51
 1               NaN  Regular Season         1950  1950-51
 2               NaN  Regular Season         1950  1950-51
 3               NaN  Regular Season         1950  1950-51
 4               NaN  Regular Season         1950  1950-51
 ...             ...             ...          ...      ...
 1268206        11.0        All Star         2017  2017-18
 1268207        -4.0        All Star         2017  2017-18
 1268208         0.0        All Star         2017  2017-18
 1268209         0.0        All Star         2017  2017-18
 1268210        18.0        All Star         2017  2017-18

 [1268211 rows x 33 columns],
     league_id     team_id  min_year  max_year abbreviation
 0           0  1610612737    1949.0    2018.0          ATL
 1           0  1610612738    1946.0    2018.0          BOS
 2           0  1610612739    1970.0    2018.0          CLE
 3           0  1610612740    2002.0    2018.0          NOP
 4           0  1610612741    1966.0    2018.0          CHI
 5           0  1610612742    1980.0    2018.0          DAL
 6           0  1610612743    1976.0    2018.0          DEN
 7           0  1610612744    1946.0    2018.0          GSW
 8           0  1610612745    1967.0    2018.0          HOU
 9           0  1610612746    1970.0    2018.0          LAC
 10          0  1610612747    1948.0    2018.0          LAL
 11          0  1610612748    1988.0    2018.0          MIA
 12          0  1610612749    1968.0    2018.0          MIL
 13          0  1610612750    1989.0    2018.0          MIN
 14          0  1610612751    1976.0    2018.0          BKN
 15          0  1610612752    1946.0    2018.0          NYK
 16          0  1610612753    1989.0    2018.0          ORL
 17          0  1610616834       NaN       NaN          NaN
 18          0  1610616833       NaN       NaN          NaN
 19          0       12306       NaN       NaN          NaN
 20          0       12303       NaN       NaN          NaN
 21          0       12313       NaN       NaN          NaN
 22          0       12316       NaN       NaN          NaN
 23          0          45       NaN       NaN          NaN
 24          0       12308       NaN       NaN          NaN
 25          0       12304       NaN       NaN          NaN
 26          0       12320       NaN       NaN          NaN
 27          0       12315       NaN       NaN          NaN
 28          0          94       NaN       NaN          NaN
 29          0       12321       NaN       NaN          NaN
 30          0       12324       NaN       NaN          NaN
 31          0          93       NaN       NaN          NaN
 32          0          41       NaN       NaN          NaN
 33          0       12325       NaN       NaN          NaN
 34          0       12323       NaN       NaN          NaN
 35          0       12330       NaN       NaN          NaN
 36          0       15015       NaN       NaN          NaN
 37          0       15018       NaN       NaN          NaN
 38          0       12329       NaN       NaN          NaN
 39          0       15016       NaN       NaN          NaN
 40          0       15017       NaN       NaN          NaN
 41          0  1610612754    1976.0    2018.0          IND
 42          0  1610612755    1949.0    2018.0          PHI
 43          0  1610612756    1968.0    2018.0          PHX
 44          0  1610612757    1970.0    2018.0          POR
 45          0  1610612758    1948.0    2018.0          SAC
 46          0  1610612759    1976.0    2018.0          SAS
 47          0  1610612760    1967.0    2018.0          OKC
 48          0  1610612761    1995.0    2018.0          TOR
 49          0  1610612762    1974.0    2018.0          UTA
 50          0  1610612763    1995.0    2018.0          MEM
 51          0  1610612764    1961.0    2018.0          WAS
 52          0  1610612765    1948.0    2018.0          DET
 53          0  1610612766    1988.0    2018.0          CHA
 54          0  1610610029    1948.0    1948.0          NaN
 55          0  1610610025    1946.0    1949.0          NaN
 56          0  1610610034    1946.0    1949.0          NaN
 57          0  1610610036    1946.0    1950.0          NaN
 58          0  1610610024    1947.0    1954.0          NaN
 59          0  1610610031    1946.0    1946.0          NaN
 60          0  1610610027    1949.0    1949.0          NaN
 61          0  1610610030    1949.0    1952.0          NaN
 62          0  1610610033    1949.0    1949.0          NaN
 63          0  1610610037    1949.0    1949.0          NaN
 64          0  1610610023    1949.0    1949.0          NaN
 65          0  1610610026    1946.0    1946.0          NaN
 66          0  1610610028    1946.0    1946.0          NaN
 67          0  1610610032    1946.0    1948.0          NaN
 68          0  1610610035    1946.0    1946.0          NaN]

In [7]:
dataframes[0]

,game_id,book_name,book_id,team_id,a_team_id,price1,price2
0,41100314,Pinnacle Sports,238,1610612759,1610612760,165.0,-183.0
1,41100314,5Dimes,19,1610612759,1610612760,165.0,-175.0
2,41100314,Bookmaker,93,1610612759,1610612760,160.0,-190.0
3,41100314,BetOnline,1096,1610612759,1610612760,165.0,-190.0
4,41100314,Bovada,999996,1610612759,1610612760,155.0,-175.0
...,...,...,...,...,...,...,...
125281,41700215,Heritage,169,1610612755,1610612738,105.0,-125.0
125282,41700215,Intertops,180,1610612755,1610612738,100.0,-120.0
125283,41700215,YouWager,139,1610612755,1610612738,105.0,-125.0
125284,41700215,JustBet,1275,1610612755,1610612738,100.0,-120.0
125285,41700215,Sportsbetting,999991,1610612755,1610612738,105.0,-125.0

In [8]:
dataframes[1]

,game_id,book_name,book_id,team_id,a_team_id,spread1,spread2,price1,price2
0,21000358,Pinnacle Sports,238,1610612749,1610612742,7.5,-7.5,-106.0,-104.0
1,21000358,5Dimes,19,1610612749,1610612742,7.5,-7.5,-110.0,-110.0
2,21000358,Bookmaker,93,1610612749,1610612742,7.5,-7.5,-110.0,-110.0
3,21000358,BetOnline,1096,1610612749,1610612742,7.5,-7.5,-110.0,-110.0
4,21000358,Bovada,999996,1610612749,1610612742,8.0,-8.0,-115.0,-105.0
...,...,...,...,...,...,...,...,...,...
131685,21501153,BetOnline,1096,1610612738,1610612747,-9.0,9.0,-110.0,-110.0
131686,21501153,Bovada,999996,1610612738,1610612747,-9.5,9.5,-110.0,-110.0
131687,21501153,Heritage,169,1610612738,1610612747,-9.5,9.5,-105.0,-105.0
131688,21501153,Intertops,180,1610612738,1610612747,-9.5,9.5,-110.0,-110.0
131689,21501153,YouWager,139,1610612738,1610612747,-9.0,9.0,-110.0,-110.0

In [9]:
dataframes[2]

,game_id,book_name,book_id,team_id,a_team_id,total1,total2,price1,price2
0,21100131,Pinnacle Sports,238,1610612740,1610612743,192.0,192.0,-105.0,-105.0
1,21100131,5Dimes,19,1610612740,1610612743,192.0,192.0,-105.0,-105.0
2,21100131,Bookmaker,93,1610612740,1610612743,192.0,192.0,-110.0,-110.0
3,21100131,BetOnline,1096,1610612740,1610612743,191.5,191.5,-110.0,-110.0
4,21100131,Bovada,999996,1610612740,1610612743,192.0,192.0,-110.0,-110.0
...,...,...,...,...,...,...,...,...,...
131381,41700215,Heritage,169,1610612755,1610612738,204.5,204.5,-105.0,-105.0
131382,41700215,Intertops,180,1610612755,1610612738,205.0,205.0,-110.0,-110.0
131383,41700215,YouWager,139,1610612755,1610612738,204.5,204.5,-110.0,-110.0
131384,41700215,JustBet,1275,1610612755,1610612738,204.0,204.0,-110.0,-110.0
131385,41700215,Sportsbetting,999991,1610612755,1610612738,204.5,204.5,-110.0,-110.0

In [10]:
dataframes[3]

,game_id,game_date,matchup,team_id,is_home,wl,w,l,w_pct,min,fgm,fga,fg_pct,fg3m,fg3a,fg3_pct,ftm,fta,ft_pct,oreb,dreb,reb,ast,stl,blk,tov,pf,pts,a_team_id,season_year,season_type,season
0,20800741,2009-02-06,SAC vs. UTA,1610612762,f,W,29.0,22.0,0.569,240,39.0,74.0,0.527,4.0,13.0,0.308,29.0,37.0,1.0,8.0,36.0,44,19.0,5.0,4.0,18.0,26.0,111,1610612758,2008,Regular Season,2008-09
1,20800701,2009-01-31,POR vs. UTA,1610612762,f,L,26.0,22.0,0.542,240,37.0,68.0,0.544,5.0,20.0,0.250,29.0,37.0,1.0,7.0,20.0,27,17.0,6.0,0.0,15.0,22.0,108,1610612757,2008,Regular Season,2008-09
2,20800584,2009-01-16,MEM vs. UTA,1610612762,f,W,24.0,16.0,0.600,240,37.0,71.0,0.521,7.0,19.0,0.368,20.0,27.0,1.0,7.0,26.0,33,23.0,9.0,3.0,15.0,22.0,101,1610612763,2008,Regular Season,2008-09
3,20800558,2009-01-12,IND @ UTA,1610612762,t,W,23.0,15.0,0.605,240,39.0,85.0,0.459,8.0,18.0,0.444,34.0,37.0,1.0,9.0,31.0,40,24.0,10.0,6.0,8.0,20.0,120,1610612754,2008,Regular Season,2008-09
4,20800440,2008-12-27,HOU vs. UTA,1610612762,f,L,18.0,14.0,0.563,290,49.0,100.0,0.490,5.0,13.0,0.385,12.0,18.0,1.0,11.0,29.0,40,35.0,13.0,7.0,9.0,27.0,115,1610612745,2008,Regular Season,2008-09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125619,20801131,2009-04-03,MIN @ UTA,1610612762,t,L,46.0,30.0,0.605,240,36.0,75.0,0.480,5.0,11.0,0.455,25.0,29.0,1.0,4.0,24.0,28,22.0,11.0,4.0,10.0,16.0,102,1610612750,2008,Regular Season,2008-09
125620,20801058,2009-03-24,HOU @ UTA,1610612762,t,W,44.0,26.0,0.629,240,38.0,85.0,0.447,4.0,14.0,0.286,19.0,25.0,1.0,3.0,39.0,42,23.0,6.0,12.0,8.0,17.0,99,1610612745,2008,Regular Season,2008-09
125621,20801029,2009-03-20,OKC vs. UTA,1610612762,f,W,43.0,26.0,0.623,240,41.0,84.0,0.488,1.0,7.0,0.143,18.0,26.0,1.0,11.0,30.0,41,24.0,8.0,3.0,10.0,13.0,101,1610612760,2008,Regular Season,2008-09
125622,20800839,2009-02-23,ATL @ UTA,1610612762,t,W,34.0,23.0,0.596,240,44.0,88.0,0.500,6.0,13.0,0.462,14.0,17.0,1.0,14.0,29.0,43,30.0,11.0,6.0,15.0,19.0,108,1610612737,2008,Regular Season,2008-09
125623,20800810,2009-02-19,BOS @ UTA,1610612762,t,W,32.0,23.0,0.582,240,32.0,77.0,0.416,2.0,10.0,0.200,24.0,31.0,1.0,7.0,28.0,35,16.0,7.0,6.0,11.0,18.0,90,1610612738,2008,Regular Season,2008-09

In [11]:
dataframes[4]

,person_id,display_last_comma_first,display_first_last,rosterstatus,from_year,to_year,playercode,games_played_flag,position,draft_year,draft_round,draft_num,birth_date,height_feet,height_inches,height,weight,season_exp,jersey,school,country,last_affiliation
0,76001,"Abdelnaby, Alaa",Alaa Abdelnaby,f,1990.0,1994.0,HISTADD_alaa_abdelnaby,Y,Forward,1990.0,1.0,NaN,NaN,6.0,10.0,6.833333,240.0,4,30,Duke,USA,Duke/USA
1,76002,"Abdul-Aziz, Zaid",Zaid Abdul-Aziz,f,1968.0,1977.0,HISTADD_zaid_abdul-aziz,Y,Center,1968.0,1.0,NaN,NaN,6.0,9.0,6.750000,235.0,9,54,Iowa State,USA,Iowa State/USA
2,76003,"Abdul-Jabbar, Kareem",Kareem Abdul-Jabbar,f,1969.0,1988.0,HISTADD_kareem_abdul-jabbar,Y,Center,1969.0,1.0,NaN,NaN,7.0,2.0,7.166667,225.0,19,33,UCLA,USA,UCLA/USA
3,51,"Abdul-Rauf, Mahmoud",Mahmoud Abdul-Rauf,f,1990.0,2000.0,mahmoud_abdul-rauf,Y,Guard,1990.0,1.0,NaN,NaN,6.0,1.0,6.083333,162.0,8,1,Louisiana State,USA,Louisiana State/USA
4,1505,"Abdul-Wahad, Tariq",Tariq Abdul-Wahad,f,1997.0,2003.0,tariq_abdul-wahad,Y,Forward-Guard,1997.0,1.0,NaN,NaN,6.0,6.0,6.500000,235.0,6,9,San Jose State,France,San Jose State/France
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4880,953,"Wright, Lorenzen",Lorenzen Wright,f,1996.0,2008.0,lorenzen_wright,Y,Forward-Center,1996.0,1.0,NaN,NaN,6.0,11.0,6.916667,255.0,13,55,Memphis,USA,Memphis/USA
4881,1007,"Wright, Luther",Luther Wright,f,1993.0,1993.0,luther_wright,Y,Center,1993.0,1.0,NaN,NaN,7.0,2.0,7.166667,270.0,0,44,Seton Hall,USA,Seton Hall/USA
4882,412,"Wright, Sharone",Sharone Wright,f,1994.0,1997.0,sharone_wright,Y,NaN,1994.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN,Clemson,USA,Clemson/USA
4883,203100,"Wroten, Tony",Tony Wroten,f,2012.0,2015.0,tony_wroten,Y,Guard,2012.0,1.0,NaN,NaN,6.0,6.0,6.500000,205.0,4,5,Washington,USA,Washington/USA
4884,78627,"Wynder, A.J.",A.J. Wynder,f,1990.0,1990.0,HISTADD_aj_wynder,Y,Guard,NaN,NaN,NaN,NaN,6.0,2.0,6.166667,180.0,0,12,Fairfield,USA,-/USA

In [12]:
#dataframes[5].info()
dataframes[5]

,season_id,player_id,player_name,team_id,team_abbreviation,team_name,game_id,game_date,matchup,wl,min,fgm,fga,fg_pct,fg3m,fg3a,fg3_pct,ftm,fta,ft_pct,oreb,dreb,reb,ast,stl,blk,tov,pf,pts,plus_minus,season_type,season_year,season
0,21950,77036,"Bear, The Body Hoffman",1610610024,BAL,Baltimore Bullets,25000009,1950-11-04,BAL vs. INO,W,0,3,NaN,NaN,NaN,NaN,NaN,5.0,6.0,0.833,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11,NaN,Regular Season,1950,1950-51
1,21950,78447,Paul Walther,1610610030,INO,Indianapolis Olympians,25000009,1950-11-04,INO @ BAL,L,0,4,NaN,NaN,NaN,NaN,NaN,2.0,6.0,0.333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,NaN,Regular Season,1950,1950-51
2,21950,77675,Ken Murray,1610610024,BAL,Baltimore Bullets,25000009,1950-11-04,BAL vs. INO,W,0,3,NaN,NaN,NaN,NaN,NaN,2.0,2.0,1.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,NaN,Regular Season,1950,1950-51
3,21950,77347,Bob Lavoy,1610610030,INO,Indianapolis Olympians,25000009,1950-11-04,INO @ BAL,L,0,4,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,NaN,Regular Season,1950,1950-51
4,21950,77132,Arnie Johnson,1610612758,ROC,Rochester Royals,25000012,1950-11-04,ROC vs. FTW,W,0,5,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11,NaN,Regular Season,1950,1950-51
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1268206,32017,202331,Paul George,1610616833,LBN,Team LeBron,31700001,2018-02-18,LBN @ STP,W,27,6,15.0,0.400,4.0,10.0,0.400,0.0,0.0,NaN,1.0,4.0,5.0,4.0,1.0,0.0,0.0,2.0,16,11.0,All Star,2017,2017-18
1268207,32017,203078,Bradley Beal,1610616833,LBN,Team LeBron,31700001,2018-02-18,LBN @ STP,W,17,5,10.0,0.500,4.0,8.0,0.500,0.0,0.0,NaN,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,14,-4.0,All Star,2017,2017-18
1268208,32017,201942,DeMar DeRozan,1610616834,STP,Team Stephen,31700001,2018-02-18,STP vs. LBN,L,27,7,13.0,0.538,1.0,3.0,0.333,6.0,7.0,0.857,2.0,4.0,6.0,2.0,2.0,0.0,2.0,1.0,21,0.0,All Star,2017,2017-18
1268209,32017,201143,Al Horford,1610616834,STP,Team Stephen,31700001,2018-02-18,STP vs. LBN,L,13,2,4.0,0.500,0.0,2.0,0.000,2.0,2.0,1.000,0.0,5.0,5.0,2.0,1.0,0.0,0.0,0.0,6,0.0,All Star,2017,2017-18
1268210,32017,203081,Damian Lillard,1610616834,STP,Team Stephen,31700001,2018-02-18,STP vs. LBN,L,21,9,14.0,0.643,3.0,8.0,0.375,0.0,0.0,NaN,2.0,1.0,3.0,2.0,0.0,0.0,1.0,0.0,21,18.0,All Star,2017,2017-18

In [13]:
dataframes[6].info()
dataframes[6]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69 entries, 0 to 68
Data columns (total 5 columns):
league_id       69 non-null int64
team_id         69 non-null int64
min_year        45 non-null float64
max_year        45 non-null float64
abbreviation    30 non-null object
dtypes: float64(2), int64(2), object(1)
memory usage: 2.8+ KB

    league_id     team_id  min_year  max_year abbreviation
0           0  1610612737    1949.0    2018.0          ATL
1           0  1610612738    1946.0    2018.0          BOS
2           0  1610612739    1970.0    2018.0          CLE
3           0  1610612740    2002.0    2018.0          NOP
4           0  1610612741    1966.0    2018.0          CHI
5           0  1610612742    1980.0    2018.0          DAL
6           0  1610612743    1976.0    2018.0          DEN
7           0  1610612744    1946.0    2018.0          GSW
8           0  1610612745    1967.0    2018.0          HOU
9           0  1610612746    1970.0    2018.0          LAC
10          0  1610612747    1948.0    2018.0          LAL
11          0  1610612748    1988.0    2018.0          MIA
12          0  1610612749    1968.0    2018.0          MIL
13          0  1610612750    1989.0    2018.0          MIN
14          0  1610612751    1976.0    2018.0          BKN
15          0  1610612752    1946.0    2018.0          NYK
16          0  1610612753    1989.0    2018.0          ORL
17          0  1610616834       NaN       NaN          NaN
18          0  1610616833       NaN       NaN          NaN
19          0       12306       NaN       NaN          NaN
20          0       12303       NaN       NaN          NaN
21          0       12313       NaN       NaN          NaN
22          0       12316       NaN       NaN          NaN
23          0          45       NaN       NaN          NaN
24          0       12308       NaN       NaN          NaN
25          0       12304       NaN       NaN          NaN
26          0       12320       NaN       NaN          NaN
27          0       12315       NaN       NaN          NaN
28          0          94       NaN       NaN          NaN
29          0       12321       NaN       NaN          NaN
30          0       12324       NaN       NaN          NaN
31          0          93       NaN       NaN          NaN
32          0          41       NaN       NaN          NaN
33          0       12325       NaN       NaN          NaN
34          0       12323       NaN       NaN          NaN
35          0       12330       NaN       NaN          NaN
36          0       15015       NaN       NaN          NaN
37          0       15018       NaN       NaN          NaN
38          0       12329       NaN       NaN          NaN
39          0       15016       NaN       NaN          NaN
40          0       15017       NaN       NaN          NaN
41          0  1610612754    1976.0    2018.0          IND
42          0  1610612755    1949.0    2018.0          PHI
43          0  1610612756    1968.0    2018.0          PHX
44          0  1610612757    1970.0    2018.0          POR
45          0  1610612758    1948.0    2018.0          SAC
46          0  1610612759    1976.0    2018.0          SAS
47          0  1610612760    1967.0    2018.0          OKC
48          0  1610612761    1995.0    2018.0          TOR
49          0  1610612762    1974.0    2018.0          UTA
50          0  1610612763    1995.0    2018.0          MEM
51          0  1610612764    1961.0    2018.0          WAS
52          0  1610612765    1948.0    2018.0          DET
53          0  1610612766    1988.0    2018.0          CHA
54          0  1610610029    1948.0    1948.0          NaN
55          0  1610610025    1946.0    1949.0          NaN
56          0  1610610034    1946.0    1949.0          NaN
57          0  1610610036    1946.0    1950.0          NaN
58          0  1610610024    1947.0    1954.0          NaN
59          0  1610610031    1946.0    1946.0          NaN
60          0  1610610027    1949.0    1949.0          NaN
61          0  1610610030    1949.0    1952.0          NaN
62          0  1610610033    1949.0    1949.0          NaN
63          0  1610610037    1949.0    1949.0          NaN
64          0  1610610023    1949.0    1949.0          NaN
65          0  1610610026    1946.0    1946.0          NaN
66          0  1610610028    1946.0    1946.0          NaN
67          0  1610610032    1946.0    1948.0          NaN
68          0  1610610035    1946.0    1946.0          NaN

In [14]:
#XXXXXXXXXXXb/c appears to be joining on index
#df10 = dataframes[0].join(dataframes[1], lsuffix='_money_line', rsuffix='_spread')
#df10

In [15]:
dataframes[0] = dataframes[0].rename(columns={'price1':'m_price1', 'price2': 'm_price2'})
dataframes[0]

,game_id,book_name,book_id,team_id,a_team_id,m_price1,m_price2
0,41100314,Pinnacle Sports,238,1610612759,1610612760,165.0,-183.0
1,41100314,5Dimes,19,1610612759,1610612760,165.0,-175.0
2,41100314,Bookmaker,93,1610612759,1610612760,160.0,-190.0
3,41100314,BetOnline,1096,1610612759,1610612760,165.0,-190.0
4,41100314,Bovada,999996,1610612759,1610612760,155.0,-175.0
...,...,...,...,...,...,...,...
125281,41700215,Heritage,169,1610612755,1610612738,105.0,-125.0
125282,41700215,Intertops,180,1610612755,1610612738,100.0,-120.0
125283,41700215,YouWager,139,1610612755,1610612738,105.0,-125.0
125284,41700215,JustBet,1275,1610612755,1610612738,100.0,-120.0
125285,41700215,Sportsbetting,999991,1610612755,1610612738,105.0,-125.0

In [16]:
dataframes[1] = dataframes[1].rename(columns={'price1':'s_price1', 'price2':'s_price2'})
dataframes[1]

,game_id,book_name,book_id,team_id,a_team_id,spread1,spread2,s_price1,s_price2
0,21000358,Pinnacle Sports,238,1610612749,1610612742,7.5,-7.5,-106.0,-104.0
1,21000358,5Dimes,19,1610612749,1610612742,7.5,-7.5,-110.0,-110.0
2,21000358,Bookmaker,93,1610612749,1610612742,7.5,-7.5,-110.0,-110.0
3,21000358,BetOnline,1096,1610612749,1610612742,7.5,-7.5,-110.0,-110.0
4,21000358,Bovada,999996,1610612749,1610612742,8.0,-8.0,-115.0,-105.0
...,...,...,...,...,...,...,...,...,...
131685,21501153,BetOnline,1096,1610612738,1610612747,-9.0,9.0,-110.0,-110.0
131686,21501153,Bovada,999996,1610612738,1610612747,-9.5,9.5,-110.0,-110.0
131687,21501153,Heritage,169,1610612738,1610612747,-9.5,9.5,-105.0,-105.0
131688,21501153,Intertops,180,1610612738,1610612747,-9.5,9.5,-110.0,-110.0
131689,21501153,YouWager,139,1610612738,1610612747,-9.0,9.0,-110.0,-110.0

In [17]:
dataframes[2] = dataframes[2].rename(columns={'price1':'t_price1', 'price2':'t_price2'})
dataframes[2]

,game_id,book_name,book_id,team_id,a_team_id,total1,total2,t_price1,t_price2
0,21100131,Pinnacle Sports,238,1610612740,1610612743,192.0,192.0,-105.0,-105.0
1,21100131,5Dimes,19,1610612740,1610612743,192.0,192.0,-105.0,-105.0
2,21100131,Bookmaker,93,1610612740,1610612743,192.0,192.0,-110.0,-110.0
3,21100131,BetOnline,1096,1610612740,1610612743,191.5,191.5,-110.0,-110.0
4,21100131,Bovada,999996,1610612740,1610612743,192.0,192.0,-110.0,-110.0
...,...,...,...,...,...,...,...,...,...
131381,41700215,Heritage,169,1610612755,1610612738,204.5,204.5,-105.0,-105.0
131382,41700215,Intertops,180,1610612755,1610612738,205.0,205.0,-110.0,-110.0
131383,41700215,YouWager,139,1610612755,1610612738,204.5,204.5,-110.0,-110.0
131384,41700215,JustBet,1275,1610612755,1610612738,204.0,204.0,-110.0,-110.0
131385,41700215,Sportsbetting,999991,1610612755,1610612738,204.5,204.5,-110.0,-110.0

In [18]:
df = pd.merge(dataframes[0], dataframes[1], how='outer', on=['game_id', 'book_name', 'book_id', 'team_id', 'a_team_id'])
df

,game_id,book_name,book_id,team_id,a_team_id,m_price1,m_price2,spread1,spread2,s_price1,s_price2
0,41100314,Pinnacle Sports,238,1610612759,1610612760,165.0,-183.0,3.5,-3.5,103.0,-111.0
1,41100314,5Dimes,19,1610612759,1610612760,165.0,-175.0,3.5,-3.5,-101.0,-109.0
2,41100314,Bookmaker,93,1610612759,1610612760,160.0,-190.0,3.5,-3.5,-110.0,-110.0
3,41100314,BetOnline,1096,1610612759,1610612760,165.0,-190.0,3.5,-3.5,-105.0,-115.0
4,41100314,Bovada,999996,1610612759,1610612760,155.0,-175.0,4.0,-4.0,-115.0,-105.0
...,...,...,...,...,...,...,...,...,...,...,...
131774,21501103,Bovada,999996,1610612742,1610612743,NaN,NaN,2.0,-2.0,-115.0,-105.0
131775,21501111,Bovada,999996,1610612745,1610612739,NaN,NaN,2.5,-2.5,-115.0,-105.0
131776,21501126,Bovada,999996,1610612746,1610612760,NaN,NaN,16.0,-16.0,-105.0,-115.0
131777,21501150,Bovada,999996,1610612741,1610612749,NaN,NaN,1.5,-1.5,-110.0,-110.0
131778,21501152,Bovada,999996,1610612757,1610612744,NaN,NaN,12.0,-12.0,-115.0,-105.0

In [19]:
#131690 for [1]

In [20]:
len(dataframes[0])

125286

In [21]:
len(dataframes[1])

131690

In [22]:
#=====================>>>>>>>>>> 131779 -

In [23]:
131779 - 131690

89

<font color='red'> clean up or delete the the 89 rows?????<font>

In [24]:
df = pd.merge(df, dataframes[2], how='outer', on=['game_id', 'book_name', 'book_id', 'team_id', 'a_team_id'])
df

,game_id,book_name,book_id,team_id,a_team_id,m_price1,m_price2,spread1,spread2,s_price1,s_price2,total1,total2,t_price1,t_price2
0,41100314,Pinnacle Sports,238,1610612759,1610612760,165.0,-183.0,3.5,-3.5,103.0,-111.0,201.5,201.5,-102.0,-108.0
1,41100314,5Dimes,19,1610612759,1610612760,165.0,-175.0,3.5,-3.5,-101.0,-109.0,202.0,202.0,-101.0,-109.0
2,41100314,Bookmaker,93,1610612759,1610612760,160.0,-190.0,3.5,-3.5,-110.0,-110.0,202.0,202.0,-110.0,-110.0
3,41100314,BetOnline,1096,1610612759,1610612760,165.0,-190.0,3.5,-3.5,-105.0,-115.0,202.0,202.0,-110.0,-110.0
4,41100314,Bovada,999996,1610612759,1610612760,155.0,-175.0,4.0,-4.0,-115.0,-105.0,203.0,203.0,-105.0,-115.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131850,20800193,JustBet,1275,1610612738,1610612761,NaN,NaN,NaN,NaN,NaN,NaN,185.0,185.0,-110.0,-110.0
131851,20800193,Sportsbetting,999991,1610612738,1610612761,NaN,NaN,NaN,NaN,NaN,NaN,186.0,186.0,-110.0,-110.0
131852,21000939,Bookmaker,93,1610612738,1610612749,NaN,NaN,NaN,NaN,NaN,NaN,181.0,181.0,-110.0,-110.0
131853,21000965,Bookmaker,93,1610612752,1610612742,NaN,NaN,NaN,NaN,NaN,NaN,216.5,216.5,-110.0,-110.0
131854,21000994,Bookmaker,93,1610612746,1610612763,NaN,NaN,NaN,NaN,NaN,NaN,201.0,201.0,-110.0,-110.0

In [25]:
131855 - 131779

76

In [26]:
#=======================>>>>>>>>>>>

In [27]:
#highest row count is dataframes[1] at 131690
#lowest row count is dataframes[0] at 125286
131690 - 125286

6404

In [28]:
#total increase in rows
131855 - 131690

165

<font color='red'> 165 rows (presenting each game with a particular book) were not in common across all three dataframes???????????<font>

<font color='red'> what games and books were these????? <font>

In [29]:
df

,game_id,book_name,book_id,team_id,a_team_id,m_price1,m_price2,spread1,spread2,s_price1,s_price2,total1,total2,t_price1,t_price2
0,41100314,Pinnacle Sports,238,1610612759,1610612760,165.0,-183.0,3.5,-3.5,103.0,-111.0,201.5,201.5,-102.0,-108.0
1,41100314,5Dimes,19,1610612759,1610612760,165.0,-175.0,3.5,-3.5,-101.0,-109.0,202.0,202.0,-101.0,-109.0
2,41100314,Bookmaker,93,1610612759,1610612760,160.0,-190.0,3.5,-3.5,-110.0,-110.0,202.0,202.0,-110.0,-110.0
3,41100314,BetOnline,1096,1610612759,1610612760,165.0,-190.0,3.5,-3.5,-105.0,-115.0,202.0,202.0,-110.0,-110.0
4,41100314,Bovada,999996,1610612759,1610612760,155.0,-175.0,4.0,-4.0,-115.0,-105.0,203.0,203.0,-105.0,-115.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131850,20800193,JustBet,1275,1610612738,1610612761,NaN,NaN,NaN,NaN,NaN,NaN,185.0,185.0,-110.0,-110.0
131851,20800193,Sportsbetting,999991,1610612738,1610612761,NaN,NaN,NaN,NaN,NaN,NaN,186.0,186.0,-110.0,-110.0
131852,21000939,Bookmaker,93,1610612738,1610612749,NaN,NaN,NaN,NaN,NaN,NaN,181.0,181.0,-110.0,-110.0
131853,21000965,Bookmaker,93,1610612752,1610612742,NaN,NaN,NaN,NaN,NaN,NaN,216.5,216.5,-110.0,-110.0
131854,21000994,Bookmaker,93,1610612746,1610612763,NaN,NaN,NaN,NaN,NaN,NaN,201.0,201.0,-110.0,-110.0

In [30]:
df = pd.merge(df, dataframes[6][['team_id', 'abbreviation']], how='left', on=['team_id'])
df

,game_id,book_name,book_id,team_id,a_team_id,m_price1,m_price2,spread1,spread2,s_price1,s_price2,total1,total2,t_price1,t_price2,abbreviation
0,41100314,Pinnacle Sports,238,1610612759,1610612760,165.0,-183.0,3.5,-3.5,103.0,-111.0,201.5,201.5,-102.0,-108.0,SAS
1,41100314,5Dimes,19,1610612759,1610612760,165.0,-175.0,3.5,-3.5,-101.0,-109.0,202.0,202.0,-101.0,-109.0,SAS
2,41100314,Bookmaker,93,1610612759,1610612760,160.0,-190.0,3.5,-3.5,-110.0,-110.0,202.0,202.0,-110.0,-110.0,SAS
3,41100314,BetOnline,1096,1610612759,1610612760,165.0,-190.0,3.5,-3.5,-105.0,-115.0,202.0,202.0,-110.0,-110.0,SAS
4,41100314,Bovada,999996,1610612759,1610612760,155.0,-175.0,4.0,-4.0,-115.0,-105.0,203.0,203.0,-105.0,-115.0,SAS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131850,20800193,JustBet,1275,1610612738,1610612761,NaN,NaN,NaN,NaN,NaN,NaN,185.0,185.0,-110.0,-110.0,BOS
131851,20800193,Sportsbetting,999991,1610612738,1610612761,NaN,NaN,NaN,NaN,NaN,NaN,186.0,186.0,-110.0,-110.0,BOS
131852,21000939,Bookmaker,93,1610612738,1610612749,NaN,NaN,NaN,NaN,NaN,NaN,181.0,181.0,-110.0,-110.0,BOS
131853,21000965,Bookmaker,93,1610612752,1610612742,NaN,NaN,NaN,NaN,NaN,NaN,216.5,216.5,-110.0,-110.0,NYK
131854,21000994,Bookmaker,93,1610612746,1610612763,NaN,NaN,NaN,NaN,NaN,NaN,201.0,201.0,-110.0,-110.0,LAC

In [31]:
#dataframes[6][['team_id', 'abbreviation']]

In [32]:
df2 = dataframes[6].rename(columns={'team_id': 'a_team_id', 'abbreviation': 'a_abbreviation'})
df2

    league_id   a_team_id  min_year  max_year a_abbreviation
0           0  1610612737    1949.0    2018.0            ATL
1           0  1610612738    1946.0    2018.0            BOS
2           0  1610612739    1970.0    2018.0            CLE
3           0  1610612740    2002.0    2018.0            NOP
4           0  1610612741    1966.0    2018.0            CHI
5           0  1610612742    1980.0    2018.0            DAL
6           0  1610612743    1976.0    2018.0            DEN
7           0  1610612744    1946.0    2018.0            GSW
8           0  1610612745    1967.0    2018.0            HOU
9           0  1610612746    1970.0    2018.0            LAC
10          0  1610612747    1948.0    2018.0            LAL
11          0  1610612748    1988.0    2018.0            MIA
12          0  1610612749    1968.0    2018.0            MIL
13          0  1610612750    1989.0    2018.0            MIN
14          0  1610612751    1976.0    2018.0            BKN
15          0  1610612752    1946.0    2018.0            NYK
16          0  1610612753    1989.0    2018.0            ORL
17          0  1610616834       NaN       NaN            NaN
18          0  1610616833       NaN       NaN            NaN
19          0       12306       NaN       NaN            NaN
20          0       12303       NaN       NaN            NaN
21          0       12313       NaN       NaN            NaN
22          0       12316       NaN       NaN            NaN
23          0          45       NaN       NaN            NaN
24          0       12308       NaN       NaN            NaN
25          0       12304       NaN       NaN            NaN
26          0       12320       NaN       NaN            NaN
27          0       12315       NaN       NaN            NaN
28          0          94       NaN       NaN            NaN
29          0       12321       NaN       NaN            NaN
30          0       12324       NaN       NaN            NaN
31          0          93       NaN       NaN            NaN
32          0          41       NaN       NaN            NaN
33          0       12325       NaN       NaN            NaN
34          0       12323       NaN       NaN            NaN
35          0       12330       NaN       NaN            NaN
36          0       15015       NaN       NaN            NaN
37          0       15018       NaN       NaN            NaN
38          0       12329       NaN       NaN            NaN
39          0       15016       NaN       NaN            NaN
40          0       15017       NaN       NaN            NaN
41          0  1610612754    1976.0    2018.0            IND
42          0  1610612755    1949.0    2018.0            PHI
43          0  1610612756    1968.0    2018.0            PHX
44          0  1610612757    1970.0    2018.0            POR
45          0  1610612758    1948.0    2018.0            SAC
46          0  1610612759    1976.0    2018.0            SAS
47          0  1610612760    1967.0    2018.0            OKC
48          0  1610612761    1995.0    2018.0            TOR
49          0  1610612762    1974.0    2018.0            UTA
50          0  1610612763    1995.0    2018.0            MEM
51          0  1610612764    1961.0    2018.0            WAS
52          0  1610612765    1948.0    2018.0            DET
53          0  1610612766    1988.0    2018.0            CHA
54          0  1610610029    1948.0    1948.0            NaN
55          0  1610610025    1946.0    1949.0            NaN
56          0  1610610034    1946.0    1949.0            NaN
57          0  1610610036    1946.0    1950.0            NaN
58          0  1610610024    1947.0    1954.0            NaN
59          0  1610610031    1946.0    1946.0            NaN
60          0  1610610027    1949.0    1949.0            NaN
61          0  1610610030    1949.0    1952.0            NaN
62          0  1610610033    1949.0    1949.0            NaN
63          0  1610610037    1949.0    1949.0            NaN
64          0  1610610023    1949.0    1949.0            NaN
65          0  1610610026    1946.0    1946.0            NaN
66          0  1610610028    1946.0    1946.0            NaN
67          0  1610610032    1946.0    1948.0            NaN
68          0  1610610035    1946.0    1946.0            NaN

In [33]:
df = pd.merge(df, df2[['a_team_id', 'a_abbreviation']], how='left', on=['a_team_id'])
df

,game_id,book_name,book_id,team_id,a_team_id,m_price1,m_price2,spread1,spread2,s_price1,s_price2,total1,total2,t_price1,t_price2,abbreviation,a_abbreviation
0,41100314,Pinnacle Sports,238,1610612759,1610612760,165.0,-183.0,3.5,-3.5,103.0,-111.0,201.5,201.5,-102.0,-108.0,SAS,OKC
1,41100314,5Dimes,19,1610612759,1610612760,165.0,-175.0,3.5,-3.5,-101.0,-109.0,202.0,202.0,-101.0,-109.0,SAS,OKC
2,41100314,Bookmaker,93,1610612759,1610612760,160.0,-190.0,3.5,-3.5,-110.0,-110.0,202.0,202.0,-110.0,-110.0,SAS,OKC
3,41100314,BetOnline,1096,1610612759,1610612760,165.0,-190.0,3.5,-3.5,-105.0,-115.0,202.0,202.0,-110.0,-110.0,SAS,OKC
4,41100314,Bovada,999996,1610612759,1610612760,155.0,-175.0,4.0,-4.0,-115.0,-105.0,203.0,203.0,-105.0,-115.0,SAS,OKC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131850,20800193,JustBet,1275,1610612738,1610612761,NaN,NaN,NaN,NaN,NaN,NaN,185.0,185.0,-110.0,-110.0,BOS,TOR
131851,20800193,Sportsbetting,999991,1610612738,1610612761,NaN,NaN,NaN,NaN,NaN,NaN,186.0,186.0,-110.0,-110.0,BOS,TOR
131852,21000939,Bookmaker,93,1610612738,1610612749,NaN,NaN,NaN,NaN,NaN,NaN,181.0,181.0,-110.0,-110.0,BOS,MIL
131853,21000965,Bookmaker,93,1610612752,1610612742,NaN,NaN,NaN,NaN,NaN,NaN,216.5,216.5,-110.0,-110.0,NYK,DAL
131854,21000994,Bookmaker,93,1610612746,1610612763,NaN,NaN,NaN,NaN,NaN,NaN,201.0,201.0,-110.0,-110.0,LAC,MEM

In [34]:
dataframes[3][['game_id', 'game_date']]

         game_id   game_date
0       20800741  2009-02-06
1       20800701  2009-01-31
2       20800584  2009-01-16
3       20800558  2009-01-12
4       20800440  2008-12-27
...          ...         ...
125619  20801131  2009-04-03
125620  20801058  2009-03-24
125621  20801029  2009-03-20
125622  20800839  2009-02-23
125623  20800810  2009-02-19

[125624 rows x 2 columns]

In [35]:
df = pd.merge(df, dataframes[3][['game_id', 'game_date']], how='left', on=['game_id'])
df.head(100)

,game_id,book_name,book_id,team_id,a_team_id,m_price1,m_price2,spread1,spread2,s_price1,s_price2,total1,total2,t_price1,t_price2,abbreviation,a_abbreviation,game_date
0,41100314,Pinnacle Sports,238,1610612759,1610612760,165.0,-183.0,3.5,-3.5,103.0,-111.0,201.5,201.5,-102.0,-108.0,SAS,OKC,2012-06-02
1,41100314,Pinnacle Sports,238,1610612759,1610612760,165.0,-183.0,3.5,-3.5,103.0,-111.0,201.5,201.5,-102.0,-108.0,SAS,OKC,2012-06-02
2,41100314,5Dimes,19,1610612759,1610612760,165.0,-175.0,3.5,-3.5,-101.0,-109.0,202.0,202.0,-101.0,-109.0,SAS,OKC,2012-06-02
3,41100314,5Dimes,19,1610612759,1610612760,165.0,-175.0,3.5,-3.5,-101.0,-109.0,202.0,202.0,-101.0,-109.0,SAS,OKC,2012-06-02
4,41100314,Bookmaker,93,1610612759,1610612760,160.0,-190.0,3.5,-3.5,-110.0,-110.0,202.0,202.0,-110.0,-110.0,SAS,OKC,2012-06-02
5,41100314,Bookmaker,93,1610612759,1610612760,160.0,-190.0,3.5,-3.5,-110.0,-110.0,202.0,202.0,-110.0,-110.0,SAS,OKC,2012-06-02
6,41100314,BetOnline,1096,1610612759,1610612760,165.0,-190.0,3.5,-3.5,-105.0,-115.0,202.0,202.0,-110.0,-110.0,SAS,OKC,2012-06-02
7,41100314,BetOnline,1096,1610612759,1610612760,165.0,-190.0,3.5,-3.5,-105.0,-115.0,202.0,202.0,-110.0,-110.0,SAS,OKC,2012-06-02
8,41100314,Bovada,999996,1610612759,1610612760,155.0,-175.0,4.0,-4.0,-115.0,-105.0,203.0,203.0,-105.0,-115.0,SAS,OKC,2012-06-02
9,41100314,Bovada,999996,1610612759,1610612760,155.0,-175.0,4.0,-4.0,-115.0,-105.0,203.0,203.0,-105.0,-115.0,SAS,OKC,2012-06-02
10,41100314,Heritage,169,1610612759,1610612760,163.0,-188.0,3.5,-3.5,-106.0,-114.0,201.0,201.0,-112.0,-108.0,SAS,OKC,2012-06-02
11,41100314,Heritage,169,1610612759,1610612760,163.0,-188.0,3.5,-3.5,-106.0,-114.0,201.0,201.0,-112.0,-108.0,SAS,OKC,2012-06-02
12,41100314,Intertops,180,1610612759,1610612760,165.0,-190.0,3.5,-3.5,-105.0,-115.0,201.5,201.5,-110.0,-110.0,SAS,OKC,2012-06-02
13,41100314,Intertops,180,1610612759,1610612760,165.0,-190.0,3.5,-3.5,-105.0,-115.0,201.5,201.5,-110.0,-110.0,SAS,OKC,2012-06-02
14,41100314,YouWager,139,1610612759,1610612760,165.0,-190.0,3.5,-3.5,-110.0,-110.0,202.0,202.0,-110.0,-110.0,SAS,OKC,2012-06-02
15,41100314,YouWager,139,1610612759,1610612760,165.0,-190.0,3.5,-3.5,-110.0,-110.0,202.0,202.0,-110.0,-110.0,SAS,OKC,2012-06-02
16,41100314,JustBet,1275,1610612759,1610612760,165.0,-185.0,3.5,-3.5,-110.0,-110.0,201.5,201.5,-110.0,-110.0,SAS,OKC,2012-06-02
17,41100314,JustBet,1275,1610612759,1610612760,165.0,-185.0,3.5,-3.5,-110.0,-110.0,201.5,201.5,-110.0,-110.0,SAS,OKC,2012-06-02
18,41100314,Sportsbetting,999991,1610612759,1610612760,165.0,-190.0,3.5,-3.5,-105.0,-115.0,202.0,202.0,-110.0,-110.0,SAS,OKC,2012-06-02
19,41100314,Sportsbetting,999991,1610612759,1610612760,165.0,-190.0,3.5,-3.5,-105.0,-115.0,202.0,202.0,-110.0,-110.0,SAS,OKC,2012-06-02
20,41100304,Pinnacle Sports,238,1610612748,1610612738,-128.0,116.0,-2.0,2.0,-104.0,-104.0,179.5,179.5,-112.0,102.0,MIA,BOS,2012-06-03
21,41100304,Pinnacle Sports,238,1610612748,1610612738,-128.0,116.0,-2.0,2.0,-104.0,-104.0,179.5,179.5,-112.0,102.0,MIA,BOS,2012-06-03
22,41100304,5Dimes,19,1610612748,1610612738,-128.0,118.0,-2.0,2.0,-101.0,-109.0,179.5,179.5,-105.0,-105.0,MIA,BOS,2012-06-03
23,41100304,5Dimes,19,1610612748,1610612738,-128.0,118.0,-2.0,2.0,-101.0,-109.0,179.5,179.5,-105.0,-105.0,MIA,BOS,2012-06-03
24,41100304,Bookmaker,93,1610612748,1610612738,-135.0,115.0,-2.0,2.0,-110.0,-110.0,180.0,180.0,-110.0,-110.0,MIA,BOS,2012-06-03
25,41100304,Bookmaker,93,1610612748,1610612738,-135.0,115.0,-2.0,2.0,-110.0,-110.0,180.0,180.0,-110.0,-110.0,MIA,BOS,2012-06-03
26,41100304,BetOnline,1096,1610612748,1610612738,-135.0,115.0,-2.0,2.0,-110.0,-110.0,180.0,180.0,-110.0,-110.0,MIA,BOS,2012-06-03
27,41100304,BetOnline,1096,1610612748,1610612738,-135.0,115.0,-2.0,2.0,-110.0,-110.0,180.0,180.0,-110.0,-110.0,MIA,BOS,2012-06-03
28,41100304,Heritage,169,1610612748,1610612738,-119.0,-101.0,-1.0,1.0,-110.0,-110.0,180.0,180.0,-108.0,-112.0,MIA,BOS,2012-06-03
29,41100304,Heritage,169,1610612748,1610612738,-119.0,-101.0,-1.0,1.0,-110.0,-110.0,180.0,180.0,-108.0,-112.0,MIA,BOS,2012-06-03
30,41100304,Intertops,180,1610612748,1610612738,-130.0,110.0,-2.0,2.0,-110.0,-110.0,180.0,180.0,-110.0,-110.0,MIA,BOS,2012-06-03
31,41100304,Intertops,180,1610612748,1610612738,-130.0,110.0,-2.0,2.0,-110.0,-110.0,180.0,180.0,-110.0,-110.0,MIA,BOS,2012-06-03
32,41100304,YouWager,139,1610612748,1610612738,-135.0,115.0,-2.0,2.0,-110.0,-110.0,179.5,179.5,-110.0,-110.0,MIA,BOS,2012-06-03
33,41100304,YouWager,139,1610612748,1610612738,-135.0,115.0,-2.0,2.0,-110.0,-110.0,179.5,179.5,-110.0,-110.0,MIA,BOS,2012-06-03
34,41100304,JustBet,1275,1610612748,1610612738,-130.0,110.0,-2.0,2.0,-110.0,-110.0,179.5,179.5,-110.0,-110.0,MIA,BOS,2012-06-03
35,41100304,JustBet,1275,1610612748,1610612738,-130.0,110.0,-2.0,2.0,-110.0,-110.0,179.5,179.5,-110.0,-110.0,MIA,BOS,2012-06-03
36,41100304,Sportsbetting,999991,1610612748,1610612738,-135.0,115.0,-2.0,2.0,-110.0,-110.0,180.0,180.0,-110.0,-110.0,MIA,BOS,2012-06-03
37,41100304,Sportsbetting,999991,1610612748,1610612738,-135.0,115.0,-2.0,2.0,-110.0,-110.0,180.0,180.0,-110.0,-110.0,MIA,BOS,2012-06-03
38,41100315,Pinnacle Sports,238,1610612760,1610612759,188.0,-210.0,5.0,-5.0,-104.0,-104.0,201.0,201.0,-103.0,-107.0,OKC,SAS,2012-06-04
39,41100315,Pinnacle Sports,238,1610612760,1610612759,188.0,-210.0,5.0,-5.0,-104.0,-104.0,201.0,201.0,-103.0,-107.0,OKC,SAS,2012-06-04
40,41100315,5Dimes,19,1610612760,1610612759,190.0,-230.0,5.0,-5.0,-110.0,-110.0,201.5,201.5,-110.0,-110.0,OKC,SAS,2012-06-04
41,41100315,5Dimes,19,1610612760,1610612759,190.0,-230.0,5.0,-5.0,-110.0,-110.0,201.5,201.5,-110.0,-110.0,OKC,SAS,2012-06-04
42,41100315,Bookmaker,93,1610612760,1610612759,180.0,-210.0,5.0,-5.0,-110.0,-110.0,201.0,201.0,-110.0,-110.0,OKC,SAS,2012-06-04
43,41100315,Bookmaker,93,1610612760,1610612759,180.0,-210.0,5.0,-5.0,-110.0,-110.0,201.0,201.0,-110.0,-110.0,OKC,SAS,2012-06-04
44,41100315,BetOnline,1096,1610612760,1610612759,190.0,-220.0,5.0,-5.0,-110.0,-110.0,201.0,201.0,-110.0,-110.0,OKC,SAS,2012-06-04
45,41100315,BetOnline,1096,1610612760,1610612759,190.0,-220.0,5.0,-5.0,-110.0,-110.0,201.0,201.0,-110.0,-110.0,OKC,SAS,2012-06-04
46,41100315,Bovada,999996,1610612760,1610612759,185.0,-225.0,5.0,-5.0,-115.0,-105.0,202.0,202.0,-110.0,-110.0,OKC,SAS,2012-06-04
47,41100315,Bovada,999996,1610612760,1610612759,185.0,-225.0,5.0,-5.0,-115.0,-105.0,202.0,202.0,-110.0,-110.0,OKC,SAS,2012-06-04
48,41100315,Heritage,169,1610612760,1610612759,185.0,-225.0,5.0,-5.0,-115.0,-105.0,202.0,202.0,-110.0,-110.0,OKC,SAS,2012-06-04
49,41100315,Heritage,169,1610612760,1610612759,185.0,-225.0,5.0,-5.0,-115.0,-105.0,202.0,202.0,-110.0,-110.0,OKC,SAS,2012-06-04
50,41100315,Intertops,180,1610612760,1610612759,195.0,-235.0,5.0,-5.0,-110.0,-110.0,201.5,201.5,-110.0,-110.0,OKC,SAS,2012-06-04
51,41100315,Intertops,180,1610612760,1610612759,195.0,-235.0,5.0,-5.0,-110.0,-110.0,201.5,201.5,-110.0,-110.0,OKC,SAS,2012-06-04
52,41100315,YouWager,139,1610612760,1610612759,195.0,-235.0,5.0,-5.0,-110.0,-110.0,201.5,201.5,-110.0,-110.0,OKC,SAS,2012-06-04
53,41100315,YouWager,139,1610612760,1610612759,195.0,-235.0,5.0,-5.0,-110.0,-110.0,201.5,201.5,-110.0,-110.0,OKC,SAS,2012-06-04
54,41100315,JustBet,1275,1610612760,1610612759,177.0,-215.0,5.0,-5.0,-110.0,-110.0,201.0,201.0,-110.0,-110.0,OKC,SAS,2012-06-04
55,41100315,JustBet,1275,1610612760,1610612759,177.0,-215.0,5.0,-5.0,-110.0,-110.0,201.0,201.0,-110.0,-110.0,OKC,SAS,2012-06-04
56,41100315,Sportsbetting,999991,1610612760,1610612759,190.0,-220.0,5.0,-5.0,-110.0,-110.0,201.0,201.0,-110.0,-110.0,OKC,SAS,2012-06-04
57,41100315,Sportsbetting,999991,1610612760,1610612759,190.0,-220.0,5.0,-5.0,-110.0,-110.0,201.0,201.0,-110.0,-110.0,OKC,SAS,2012-06-04
58,41100307,Pinnacle Sports,238,1610612738,1610612748,367.0,-427.0,8.0,-8.0,-105.0,-103.0,178.5,178.5,-113.0,102.0,BOS,MIA,2012-06-09
59,41100307,Pinnacle Sports,238,1610612738,1610612748,367.0,-427.0,8.0,-8.0,-105.0,-103.0,178.5,178.5,-113.0,102.0,BOS,MIA,2012-06-09
60,41100307,5Dimes,19,1610612738,1610612748,375.0,-420.0,8.0,-8.0,-108.0,-102.0,179.0,179.0,-105.0,-105.0,BOS,MIA,2012-06-09
61,41100307,5Dimes,19,1610612738,1610612748,375.0,-420.0,8.0,-8.0,-108.0,-102.0,179.0,179.0,-105.0,-105.0,BOS,MIA,2012-06-09
62,41100307,Bookmaker,93,1610612738,1610612748,370.0,-450.0,8.0,-8.0,-110.0,-110.0,179.0,179.0,-110.0,-110.0,BOS,MIA,2012-06-09
63,41100307,Bookmaker,93,1610612738,1610612748,370.0,-450.0,8.0,-8.0,-110.0,-110.0,179.0,179.0,-110.0,-110.0,BOS,MIA,2012-06-09
64,41100307,BetOnline,1096,1610612738,1610612748,360.0,-435.0,8.0,-8.0,-110.0,-110.0,178.5,178.5,-110.0,-110.0,BOS,MIA,2012-06-09
65,41100307,BetOnline,1096,1610612738,1610612748,360.0,-435.0,8.0,-8.0,-110.0,-110.0,178.5,178.5,-110.0,-110.0,BOS,MIA,2012-06-09
66,41100307,Bovada,999996,1610612738,1610612748,310.0,-420.0,7.5,-7.5,-105.0,-115.0,180.0,180.0,-110.0,-110.0,BOS,MIA,2012-06-09
67,41100307,Bovada,999996,1610612738,1610612748,310.0,-420.0,7.5,-7.5,-105.0,-115.0,180.0,180.0,-110.0,-110.0,BOS,MIA,2012-06-09
68,41100307,Heritage,169,1610612738,1610612748,365.0,-465.0,7.5,-7.5,-110.0,-110.0,179.5,179.5,-110.0,-110.0,BOS,MIA,2012-06-09
69,41100307,Heritage,169,1610612738,1610612748,365.0,-465.0,7.5,-7.5,-110.0,-110.0,179.5,179.5,-110.0,-110.0,BOS,MIA,2012-06-09
70,41100307,Intertops,180,1610612738,1610612748,340.0,-440.0,8.0,-8.0,-110.0,-110.0,179.0,179.0,-110.0,-110.0,BOS,MIA,2012-06-09
71,41100307,Intertops,180,1610612738,1610612748,340.0,-440.0,8.0,-8.0,-110.0,-110.0,179.0,179.0,-110.0,-110.0,BOS,MIA,2012-06-09
72,41100307,YouWager,139,1610612738,1610612748,355.0,-450.0,8.0,-8.0,-110.0,-110.0,179.0,179.0,-110.0,-110.0,BOS,MIA,2012-06-09
73,41100307,YouWager,139,1610612738,1610612748,355.0,-450.0,8.0,-8.0,-110.0,-110.0,179.0,179.0,-110.0,-110.0,BOS,MIA,2012-06-09
74,41100307,JustBet,1275,1610612738,1610612748,360.0,-440.0,8.0,-8.0,-110.0,-110.0,179.0,179.0,-110.0,-110.0,BOS,MIA,2012-06-09
75,41100307,JustBet,1275,1610612738,1610612748,360.0,-440.0,8.0,-8.0,-110.0,-110.0,179.0,179.0,-110.0,-110.0,BOS,MIA,2012-06-09
76,41100307,Sportsbetting,999991,1610612738,1610612748,360.0,-435.0,8.0,-8.0,-110.0,-110.0,178.5,178.5,-110.0,-110.0,BOS,MIA,2012-06-09
77,41100307,Sportsbetting,999991,1610612738,1610612748,360.0,-435.0,8.0,-8.0,-110.0,-110.0,178.5,178.5,-110.0,-110.0,BOS,MIA,2012-06-09
78,21200015,Pinnacle Sports,238,1610612754,1610612766,-275.0,244.0,-7.0,7.0,104.0,-115.0,183.0,183.0,-102.0,-108.0,IND,CHA,2012-11-02
79,21200015,Pinnacle Sports,238,1610612754,1610612766,-275.0,244.0,-7.0,7.0,104.0,-115.0,183.0,183.0,-102.0,-108.0,IND,CHA,2012-11-02
80,21200015,5Dimes,19,1610612754,1610612766,-280.0,255.0,-6.5,6.5,-105.0,-105.0,183.0,183.0,-107.0,-103.0,IND,CHA,2012-11-02
81,21200015,5Dimes,19,1610612754,1610612766,-280.0,255.0,-6.5,6.5,-105.0,-105.0,183.0,183.0,-107.0,-103.0,IND,CHA,2012-11-02
82,21200015,Bookmaker,93,1610612754,1610612766,-305.0,255.0,-6.5,6.5,-110.0,-110.0,182.5,182.5,-110.0,-110.0,IND,CHA,2012-11-02
83,21200015,Bookmaker,93,1610612754,1610612766,-305.0,255.0,-6.5,6.5,-110.0,-110.0,182.5,182.5,-110.0,-110.0,IND,CHA,2012-11-02
84,21200015,BetOnline,1096,1610612754,1610612766,-300.0,250.0,-7.0,7.0,-105.0,-115.0,183.0,183.0,-110.0,-110.0,IND,CHA,2012-11-02
85,21200015,BetOnline,1096,1610612754,1610612766,-300.0,250.0,-7.0,7.0,-105.0,-115.0,183.0,183.0,-110.0,-110.0,IND,CHA,2012-11-02
86,21200015,Bovada,999996,1610612754,1610612766,-300.0,250.0,-7.0,7.0,-115.0,-105.0,183.0,183.0,-115.0,-105.0,IND,CHA,2012-11-02
87,21200015,Bovada,999996,1610612754,1610612766,-300.0,250.0,-7.0,7.0,-115.0,-105.0,183.0,183.0,-115.0,-105.0,IND,CHA,2012-11-02
88,21200015,Heritage,169,1610612754,1610612766,-290.0,240.0,-6.5,6.5,-110.0,-110.0,182.5,182.5,-110.0,-110.0,IND,CHA,2012-11-02
89,21200015,Heritage,169,1610612754,1610612766,-290.0,240.0,-6.5,6.5,-110.0,-110.0,182.5,182.5,-110.0,-110.0,IND,CHA,2012-11-02
90,21200015,Intertops,180,1610612754,1610612766,-300.0,250.0,-7.0,7.0,-105.0,-115.0,183.0,183.0,-110.0,-110.0,IND,CHA,2012-11-02
91,21200015,Intertops,180,1610612754,1610612766,-300.0,250.0,-7.0,7.0,-105.0,-115.0,183.0,183.0,-110.0,-110.0,IND,CHA,2012-11-02
92,21200015,YouWager,139,1610612754,1610612766,-290.0,235.0,-7.0,7.0,-110.0,-110.0,183.0,183.0,-110.0,-110.0,IND,CHA,2012-11-02
93,21200015,YouWager,139,1610612754,1610612766,-290.0,235.0,-7.0,7.0,-110.0,-110.0,183.0,183.0,-110.0,-110.0,IND,CHA,2012-11-02
94,21200015,JustBet,1275,1610612754,1610612766,-285.0,242.0,-6.5,6.5,-110.0,-110.0,182.5,182.5,-110.0,-110.0,IND,CHA,2012-11-02
95,21200015,JustBet,1275,1610612754,1610612766,-285.0,242.0,-6.5,6.5,-110.0,-110.0,182.5,182.5,-110.0,-110.0,IND,CHA,2012-11-02
96,21200015,Sportsbetting,999991,1610612754,1610612766,-300.0,250.0,-7.0,7.0,-105.0,-115.0,183.0,183.0,-110.0,-110.0,IND,CHA,2012-11-02
97,21200015,Sportsbetting,999991,1610612754,1610612766,-300.0,250.0,-7.0,7.0,-105.0,-115.0,183.0,183.0,-110.0,-110.0,IND,CHA,2012-11-02
98,21200017,Pinnacle Sports,238,1610612749,1610612738,277.0,-315.0,7.5,-7.5,-110.0,100.0,196.0,196.0,-110.0,100.0,MIL,BOS,2012-11-02
99,21200017,Pinnacle Sports,238,1610612749,1610612738,277.0,-315.0,7.5,-7.5,-110.0,100.0,196.0,196.0,-110.0,100.0,MIL,BOS,2012-11-02